<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Questions</title>
    <link rel="stylesheet" href="/views/questions.css">
</head>
<body>
    <h2>All Questions</h2>
    <ul>
        <% questions.forEach(q => { %>
            <li>
                <a href="/questions/<%= q.id %>"><%= q.title %></a>
            </li>
        <% }) %>
    </ul>
    <a href="/my-questions">My Questions</a>
</body>
</html>
