<!DOCTYPE html>
<html>
<head>
    <title>Course Editor</title>
    <script defer src="/views/public/script_course.js"></script>
    <style>
        nav {
            background-color: purple;
            padding: 10px 0;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin-left: 20px;
            font-weight: bold;
        }

        nav a.logo {
            font-size: 1.5em;
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="#" class="logo">Izumi</a>
        <a href="#">Home</a>
        <a href="#">Courses</a>
        <a href="#">Dashboard</a>
    </nav>
    <h1>Course Editor</h1>
    <input id="courseTitle" placeholder="Course Title" />
    <input type="number" id="price" placeholder="price"/>    <button onclick="addModule()">Add Module</button>
    <button onclick="saveCourse()" id="s">Save</button>
    <button onclick="saveCourse()" id="sc">Save_changes</button>
    <button onclick="loadCourse()">Load</button>
    <ul id="modules"></ul>
</body>
</html>